<div id="cuerpo">
    <app-barra></app-barra>
    <h2 id="subT">ACERCA DE NOSOTROS</h2>
    <div id="cuerpoT">
        <table id="tabla">
            <tr>
                <td id="tdI">
                    <h2 id="titulo">Vision</h2>
                    <p id="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </td>
                <td id="tdD">
                    <img src="https://www.gndiario.com/sites/default/files/noticias/agencias-viajes-ayudas-directas-turismo.jpeg" alt="" id="img">
                </td>
            </tr>
    
            <tr>
                <td id="tdI">
                    <img src="https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-del-vector-de-concepto-viaje-global-hombre-y-mujer-eligiendo-destino-yendo-vacaciones-viajes-globales-alrededor-mundo-172969894.jpg" alt="" id="img">
                </td>
                <td id="tdD">
                    <h2 id="titulo">Mision</h2>
                    <p id="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </td>
            </tr>

            <tr>
                <td id="tdI">
                    <h2 id="titulo">Nuestro Objetivo</h2>
                    <p id="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </td>
                <td id="tdD">
                    <img src="https://images.adsttc.com/media/images/5e78/a1e5/b357/6549/2a00/07d2/large_jpg/Comfort_in_Context_19.jpg?1584964058" alt="" id="img">
                </td>
            </tr>

            <tr>
                <td id="tdI">
                    <img src="https://wrmx00.epimg.net/radio/imagenes/2020/01/02/sociedad/1577993225_548206_1577995939_noticia_normal.jpg" alt="" id="img">
                </td>
                <td id="tdD">
                    <h2 id="titulo">Queremos que Disfrutes</h2>
                    <p id="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </td>
            </tr>
        </table>
    </div>
</div>
