
<div id="cabeza">
    <app-barra></app-barra>
</div>
<div id="cuerpo">
    <table id="tabla">
        <tr>
            <td id="tdD">
                <h2 id="subT">LOGIN DE ADMINISTRADOR</h2>
                <p id="texto">
                    Este login esta diseñado para la empresa y el administrador de los paquetes, para que puede realizar las altas, bajas y modificaciones de los paquetes que ofrescan <br><br>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                </p>
            </td>
    
            <td >
                <div id="marco">
                    <h2 id="subT">Login Admin</h2>
                    <hr style="margin: 0px;">
                    <p id="texto"><span style="color:#222e6a">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span></p>
                    <form action="http://localhost:4200/login/modificar">
                        <input type="text" name="nombre" id="controls" placeholder="Usuario">
                        <input type="text" name="nombre" id="controls" placeholder="Contraseña">
                        <button id="boton" >Editar</button> 
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>










